.episode_heading {
  text-transform: uppercase;
  /* display: inline-block; */
  margin-bottom: 0.6rem;
  background: rgb(32 178 170);
  padding: 0.3rem;
  border-radius: 6px;
  font-size: 13px;
  width: fit-content;
  font-weight: 500;
  font-family: system-ui;
  margin-block: 11px;
}

.episodeName_container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 4px;
}
.episode_name {
  background: rgb(237 20 61);

  padding: 0.3rem;
  border-radius: 6px;
  font-size: 13px;
  width: fit-content;
  font-weight: 500;
  font-family: system-ui;
}
